
.section-subtitle_theme_dark{
	Width:60%;
	line-height:34px;
	font-size:24px;
	font-weight:normal;
	position: relative;
	z-index:1;
	
	Width:60%;
	margin:auto;
	text-align: center;
	color:#ffffff;
}